---
import { marked } from "marked"

import Group from "@/components/Group.astro"
import { getCollection } from "astro:content"
import MainLayout from "../../layout/MainLayout.astro"

const groups = await getCollection("groups")
const groupsCounter = (await getCollection("groups")).length

const dayOrder = {
	Понедельник: 1,
	Вторник: 2,
	Среда: 3,
	Четверг: 4,
	Пятница: 5,
	Суббота: 6,
	Воскресенье: 7,
}

function sortGroupsByDay(groups) {
	return groups.sort((a, b) => {
		return dayOrder[a.data.when] - dayOrder[b.data.when]
	})
}
---

<MainLayout
	title={`Онлайн собрания и Офлайн`}
	description={`Время встреч для анонимных интернет зависимых. Собраний (${groupsCounter})`}
>
	<h3 class="text-2xl font-medium text-gray-700">
		⭐ Количество групп на данный момент: <b>{groupsCounter}</b>
	</h3>
	<h4 class="text-2xl text-gray-700 font-medium">
		🌐 Онлайн группы ({groups.filter(f => f.data.type === "Онлайн").length})
	</h4>

	<div class="grid grid-cols-1 items-start md:grid-cols-2 lg:grid-cols-3 gap-5">
		{
			groups &&
				sortGroupsByDay(groups.filter(f => f.data.type === "Онлайн")).map(group => (
					<Group data={group.data} slug={group.slug} />
				))
		}
	</div>
	<h4 class="text-2xl text-gray-700 font-medium">
		🌤 Живые группы ({groups.filter(f => f.data.type === "Живая").length})
	</h4>
	<div class="grid grid-cols-1 items-start md:grid-cols-2 lg:grid-cols-3 gap-5">
		{
			groups &&
				sortGroupsByDay(groups.filter(f => f.data.type === "Живая")).map(group => (
					<Group data={group.data} slug={group.slug} />
				))
		}
	</div>
</MainLayout>
