---
const { type_group, type_group_class, day, time, point, desc, link } = Astro.props;
---

<div class={"group-item " + type_group_class}>
 <span>{type_group}</span>
 <h4>✅ {day}</h4>
 <p class="time">{time} (МСК)</p>
 <p class="time">{point}</p>
 <p class="desc">
  <b>Формат группы:</b>
  {desc}
 </p>
 {
  type_group_class === "group-live" ? (
   <a href={link}>Смотреть карта</a>
  ) : (
   <a href={link}>Присоединиться</a>
  )
 }
</div>

<style>
 .group-item {
  padding: 20px;
  border-radius: var(--border-medium);
  background-color: var(--present);
 }
 .group-live {
  background-color: #e7f4ff;
 }
 .group-item span {
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  border-bottom: 1px solid var(--text);
  display: inline-block;
  margin-bottom: 14px;
 }
 .group-item p {
  margin-top: 10px;
 }
 .time {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
 }
 .desc {
  font-size: 16px;
  font-weight: 400;
  color: #474747;
 }
 .group-item h4 {
  font-size: 22px;
  font-weight: 700;
 }
 .group-live a {
  background-color: #448cde !important;
 }
 .group-live a:hover {
  background-color: #3273bd !important;
 }
 .group-item a {
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
  display: inline-block;
  padding: 8px 14px;
  background-color: var(--btn);
  border-radius: 8px;
  color: #fff;
  transition: background-color var(--animate);
 }
 .group-item a:hover {
  transition: background-color var(--animate);
  background-color: var(--btn-hover);
 }
</style>
