---
import BlockMsgs from "../components/blocks/BlockMsgs.astro";
import Title from "../components/blocks/Title.astro";
import Layout from "../layout/Layout.astro";

const p = "";
const span = "text-[26px]";
---

<Layout
 title="Анонимные Интернет Зависимые - СНГ"
 desc="Это сообщество людей, которые поддерживают друг друга в преодолении проблем, вызванных одержимым использованием интернета и технических устройств."
>
 <div class="container">
  <div
   class="py-6 md:py-14 max-w-full prose prose-p:my-0 prose-span:my-0 flex flex-col items-center justify-center"
  >
   <Title />

   <div class="grid items-start gap-10 grid-cols-1 md:grid-cols-2">
    <div class={p}>
     <span class={span}>👥</span>
     <p>
      <b>АИЗ сообщество</b> мужчин и женщин, которые поддерживают друг друга в преодолении
      проблем, вызванных конструктивным, одержимым или импульсивным использованием интернета.
     </p>
    </div>
    <div class={p}>
     <span class={span}>🔭</span>
     <p>
      <b>Сообщество АИЗ</b> не связаны ни с какой политической, религиозной или правоохранительной
      организацией, и не находимся ни под чьим контролем.
     </p>
    </div>
    <div class={p}>
     <span class={span}>📱</span>
     <p>
      <b>Наша цель</b> воздерживаться от разрушительного использования интернета и помочь другим
      страдающим от этой зависимости.
     </p>
    </div>
    <div class={p}>
     <span class={span}>✅</span>
     <p>
      <b>Присоединиться к нам</b> - может каждый, независимо от возраста, пола, национальности,
      убеждений, религии, или отсутствия таковой.
     </p>
    </div>
   </div>
  </div>

  <BlockMsgs />
 </div>
</Layout>
