---
import Article from "../components/blocks/Article.astro";
import Layout from "../layout/Layout.astro";
const notes = (await Astro.glob("./notes/*.{md,mdx}")).sort(
 (a, b) =>
  new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout
 title="Заметки"
 desc="Заметки членов АИЗ для передачи опыта, или же рассказы истории и теорий."
>
 <div class="container">
  <section>
   <div class="grid gap-10 grid-cols-1 md:grid-cols-2">
    {
     notes.map((post) => (
      <Article
       url={post.url}
       img={post.frontmatter.img}
       title={post.frontmatter.title}
       description={post.frontmatter.description}
       pubDate={post.frontmatter.pubDate}
      />
     ))
    }
   </div>
  </section>
 </div>
</Layout>
