---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { BANNER } from '../consts'
import '../css/base.css'
import '../css/default.css'
import '../css/style.css'
import Metrika from '../components/Head/Metrika.astro'
import Links from '../components/Head/Links.astro'
import Verification from '../components/Head/Verification.astro'

export interface Props {
  title?: string
  desc?: string
  typeSite?: string
  pubDate?: string
  elemsTrue?: boolean
}

const LD_name = 'internetaddicts.ru'

const poster = BANNER

const { title, desc, typeSite, pubDate, elemsTrue } = Astro.props

const typeSiteFinal = typeSite ?? 'website'
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#EAEEFA" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="generator" content={Astro.generator} />

    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={Astro.url} />

    <Links />
    <Verification />

    <meta name="title" content={'АИЗ | ' + title} />
    <meta name="description" content={desc} />
    <meta property="og:type" content={typeSiteFinal} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="АИЗ - Анонимные Интернет Зависимые" />
    <meta property="og:title" content={'АИЗ | ' + title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content={BANNER} />
    {pubDate && <meta property="article:modified_time" content={pubDate} />}
    <title>{'АИЗ | ' + title}</title>
  </head>
  <body class="scroll-smooth bg-zinc-50 min-w-[320px] overflow-x-hidden">
    <Header />
    <div class="py-12 flex flex-col gap-12 container max-w-6xl px-5 mx-auto">
      <slot />
    </div>
    <Footer />
    <Metrika />
  </body>
</html>
