---
import Footer from "../components/Footer.astro"
import Links from "../components/Head/Links.astro"
import Metrika from "../components/Head/Metrika.astro"
import Verification from "../components/Head/Verification.astro"
import Header from "../components/Header.astro"
import { BANNER } from "../consts"
import "../css/base.css"
import "../css/default.css"
import "../css/style.css"

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
function formatCanonicalURL(url: string | URL) {
	const path = url.toString()
	const hasQueryParams = path.includes("?")
	if (hasQueryParams) {
		path.replace(/\/?$/, "")
	}
	return path.replace(/\/?$/, hasQueryParams ? "" : "/")
}

const { title, description, img, typeSite, pubDate } = Astro.props
const typeSiteFinal = typeSite ?? "website"
const socialImageURL = new URL(img ? img : BANNER, Astro.url).href
const finalIMG = socialImageURL || BANNER
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#EAEEFA" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="generator" content={Astro.generator} />

		<meta name="robots" content="index, follow" />
		<link rel="canonical" href={formatCanonicalURL(canonicalURL)} />

		<Links />
		<Verification />

		<meta name="title" content={"АИЗ | " + title} />
		<meta name="description" content={description} />
		<meta property="og:type" content={typeSiteFinal} />
		<meta property="og:url" content={formatCanonicalURL(canonicalURL)} />
		<meta property="og:site_name" content="АИЗ - Анонимные Интернет Зависимые" />
		<meta property="og:title" content={"АИЗ | " + title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={finalIMG} />
		{pubDate && <meta property="article:modified_time" content={pubDate} />}
		<title>{"АИЗ | " + title}</title>
	</head>
	<body
		class="scroll-smooth min-h-screen bg-zinc-50 min-w-[320px] overflow-x-hidden flex flex-col"
	>
		<Header />
		<div class="flex-1 py-12 flex flex-col gap-12 container max-w-6xl px-5 mx-auto">
			<slot />
		</div>
		<Footer />
		<Metrika />
	</body>
</html>
